{% include 'header.html' %}

<body>
    <div class="container-fluid" id="main">
        {% include 'user_top_menus.html' %}
        <div class="row row-offcanvas row-offcanvas-left">
            {% include 'user_left_menus.html' %}	
            <div class="col-md-9 col-lg-10 main">
                <h3>書籍リスト一覧</h3>
                <br>
                <div class="d-flex justify-content-end">
                    <!-- 検索フォーム -->
                    <div class="flex-grow-1 mr-2">
                        <form action="{{ url_for('user_search_books') }}" class="form-inline">
                            <input type="text" name="q" class="form-control w-75 mr-sm-2" placeholder="書籍を検索">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>

                    
                </div>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>書籍</th>
                            <th>著者</th>
                            <th>発売日</th>
                            <th>出版社</th>
                            <th>詳細</th>
                            <th>アクション</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td>
                                    {% if book.picture %}
                                        <img src="{{ url_for('static', filename='uploads/' + book.picture) }}" alt="Current book picture" class="img-thumbnail" width="80" height="90">
                                        {% else %}
                                        <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="Current book picture" class="img-thumbnail" width="80" height="90">
                                        {% endif %}			
                                </td>
                                <td>{{book.name}}</td>
                                <td>{{book.author}}</td>
                                <td>{{book.release_date}}</td>
                                <td>{{book.publisher}}</td>
                                <td><a href="/user_book_detail/{{book.bookid}}">詳細</a></td>
                                
                                <td>
                                  {% if book.status == 'lending' %}
                                    <form action="/book_borrow/{{book.bookid}}">
                                    
                                      <button>借りる</button>
                                    </form>
                                  {% else %}
                                    <p>貸出中</p>
                                  {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ pagination.links }}
                
                
            </div>
        </div>
    </div>
</body>
</html>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

