<style>
  .nav-link{
    display:block;
    padding: 8px;
  }

</style>

<div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <ul class="nav flex-column pl-1 leftMenus">			
  <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_dashboard') }}"><strong>ダッシュボード</strong></a></li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><strong>書籍</strong> ▾</a>
    <ul class="list-unstyled flex-column pl-3 collapse show" id="submenu1" aria-expanded="false">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('books') }}"><strong>書籍管理</strong></a></li>
    </ul>
  </li> -->
  <li class="nav-item"><a class="nav-link" href="{{ url_for('user_books')}}"><strong>本の検索と貸出</strong></a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('books_borrowing', id=current_user.id) }}"><strong>現在借りている書籍一覧</strong></a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><strong>ログアウト</strong></a></li>
  </ul>
  </div>